# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
List popular languages for Data Science:
- Add Cells
- Using Jupyter Notebook
- Learn GitHub

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. JavaScript
9. PHP
10. Go

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Numpy
- Matplotlib
- Seaborn
- Scikit-learn
- Keras
- TensorFlow
- PyTorch
- Apache Spark
- Vegas
- Big DL
- Ggplot2

|Data Science Tools|
 :--------:
|Anaconda        |
|Zeppelin       |
|Jupyter      |
|Spyder      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

## Author:
Şule 
Yıldırım